<tr>
  <td style="padding:20px 20px 20px 20px" colspan="2">
    <div align="center">
      <div id="flash_container">
              <%= render '/refinery/message' %>
      </div>

      <% content_for :header, t('enter_email_address', :scope => 'refinery.users.forgot') %>

      <%= form_for resource, :as => resource_name,
                             :url => refinery.refinery_user_password_path,
                             :html => { :method => :post } do |f| %>

        <div class='field'>
          <%= f.text_field :email, :class => "larger widest",
                           :placeholder => t('email_address', :scope => 'refinery.users.forgot') %>
        </div>

        <div style="margin-top:10px;">
          <input id="submit_button" type="submit" value="Sign in">
        </div>
      <% end -%>

    </div>
  </td>
</tr>