
<table width="100%" cellpadding="0" cellspacing="0"> <tbody>

        <tr>
                      <td colspan="2" style="padding-top:40px;">
                        <div style="background-color:#474747;height:1px;">
                          <spacer type="block">
                          </spacer>
                        </div>
                        <div style="background-color:#2a2a2a;height:1px;">
                          <spacer type="block">
                          </spacer>
                        </div>
                        <tr>
                          <td colspan="2" style="padding:20px" bgcolor="#323232">
                            <table width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <td width="30%">
                                  <div class="text">
                                    <div style="margin-bottom:5px">
                                      &copy; 
                                      <b>
                                        <a href="http://35photo.ru/">
                                          <%= Time.now.year %> <%= Refinery::Core.site_name %> 
                                        </a>
                                      </b>
                                  
                                    </div>
                                    <div style="margin-bottom:5px">
                                      <a href="" onClick="inlineBlock( 'blockGbMess' ); return false;">
                                        Send message to administration
                                      </a>
                                      <br>
                                      <div id="blockGbMess" style="display:none;margin-top:5px;">
                                        <form action="" method="POST" onSubmit="form_send('?type=addMessGb&type2=add', {messageForm: $('#messageForm').val(), messType: $('#messType').val(), gbemail: $('#gbemail').val()}, 'blockGbMess'); return false;">
                                          <select name="messType" id="messType">
                                            <option value="0">
                                              --------
                                            </option>
                                            
                                            <option value="1">
                                              Proposal for cooperation
                                            </option>
                                            <option value="2">
                                              An appeal of a photo or poster
                                            </option>
                                            <option value="3">
                                              Problems with my account
                                            </option>
                                            
                                            <option value="4">
                                              Other
                                            </option>
                                            
                                          </select>
                                          <br>
                                          Specify the return address
                                          <br>
                                          Email:
                                          <br>
                                          <input type="text" name="gbemail" id="gbemail">
                                          <br>
                                          <textarea style="width:90%;height:150px" id="messageForm" name="messageForm">
                                          </textarea>
                                          <br>
                                          <input type="submit" value="Send">
                                        </form>
                                      </div>
                                    </div>
                                    <div class="transperent20">
                                      <!--LiveInternet counter-->
                                      <script type="text/javascript">
                                        <!--
                                          document.write('<a href="http://www.liveinternet.ru/click;35photo" target=_blank /><img src="http://counter.yadro.ru/hit;35photo?t26.6;r' + escape(document.referrer) + (( typeof (screen) == 'undefined') ? '' : ';s' + screen.width + '*' + screen.height + '*' + (screen.colorDepth ? screen.colorDepth : screen.pixelDepth)) + ';u' + escape(document.URL) + ';' + Math.random() + '" alt="" title="LiveInternet: показано число посетителей за сегодн\я" ' + 'border=0 width=88 height=15 /></a>')
                                          //-->
                                      </script>
                                      <!--/LiveInternet-->
                                    </div>
                                    <div style="float:left;margin-top:5px" class="transperent40">
                                      <a class="ico_twitter" href="http://twitter.com/#!/35PHOTO_main" target="_blank" rel="nofollow">
                                      </a>
                                      
                                      <a href="http://www.facebook.com/35PHOTO.ru" target="_blank" rel="nofollow" class="ico_fb">
                                      </a>
                                      
                                      <a href="http://vkontakte.ru/club17219136" target="_blank" rel="nofollow" class="ico_vk">
                                      </a>
                                      
                                      <g:plusone size="small" href="http://35photo.ru">
                                      </g:plusone>
                                    </div>
                                    <br>
                                  </div>
                                  <td valign="top" style="padding-top:20px;font-size:12px;color:#666"  width="50%">
                                    - 
                                    <b>
                                      <a href="http://35photo.ru/game/" style="font-size:12px">
                                        Photo-game
                                      </a>
                                    </b>
                                    <br>
                                    <br>
                                    <a href="http://35photo.ru/ps/en/">
                                      About
                                    </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="http://35photo.ru/ps/en/help/">
                                      Help
                                    </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="http://35photo.ru/search/">
                                      Search
                                    </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="http://35photo.ru/pages/page_other_info/">
                                      Other
                                    </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="http://35photo.ru/models/">
                                      Models
                                    </a>
                                    <div class="transperent40" style="margin-top:20px;">
                                      <a href="http://35photo.ru/ps/partners/" class="ico_partners">
                                      </a>
                                    </div>
                                
                                    <td class="text" valign="top" style="padding-top:10px">
                                      <div style="font-size:18px;">
                                        <span style="font-size:10px;">
                                          Select language:
                                        </span>
                                        <br>
                                        <a rel="nofollow" href="/pages/page_changeLang/?lang=en">
                                          en
                                        </a>
                                        &nbsp; 
                                        <a rel="nofollow" href="/pages/page_changeLang/?lang=ru">
                                          ru
                                        </a>
                                        &nbsp; 
                                        <a rel="nofollow" href="/pages/page_changeLang/?lang=zh">
                                          cn
                                        </a>
                                        &nbsp; 
                                        <a rel="nofollow" href="/pages/page_changeLang/?lang=de">
                                          de
                                        </a>
                                        &nbsp; 
                                        <a rel="nofollow" href="/pages/page_changeLang/?lang=bg">
                                          bg
                                        </a>
                                      </div>
                                      <div style="margin-top:20px;font-size:10px;color:#aaa;">
                                          <script language="JavaScript" type="text/javascript">
                                          var boxm = 'pr' + '@' + '35photo' + '.ru';
                                          document.write('<a href="' + 'mai' + 'lto:' + boxm +'">' + boxm + '</a>');
                                        </script>
                                        - сooperation and promotion
                                      </div>
                                     
                                </table>
                                 </tbody>
   