<tr>
  <td style="padding:20px 20px 0px 20px">
    <a href="http://35photo.ru/">
      <img src="http://35photo.ru/files/logo2.gif" alt="35photo.ru - Photo site" width="142" height="35" style="margin-right:15px;" align="left">
    </a>
    <a href="http://35photo.ru/shuffle/" title="Shuffle" class="ico_shuffle">
    </a>
    <img src="http://35photo.ru/files/socialnet.png" style="padding-top:10px;">
    <div style="clear:both">
    </div>
    <div style="margin-top:10px;font-size:12px">
      <div class="menuBlock">

        <div style="margin-top:10px;font-size:12px">
            <div class="menuBlock">
              <span class="mainMenu">
                <a href="http://35photo.ru/genre/">
                  Styles
                </a>
              </span>
              
              <span class="mainMenu">
                <a href="http://35photo.ru/community/">
                  Communities
                </a>
              </span>
              
              <span class="mainMenu">
                <a href="http://35photo.ru/new/interesting/">
                  New photos
                </a>
                
                <img src="http://35photo.ru/files/downArrow.gif">
                <div class="sub">
                  <ul>
                    <li>
                      <a href="http://35photo.ru/new/interesting/">
                        New interesting
                      </a>
                    </li>
                    <li>
                      <a href="http://35photo.ru/new/">
                        New photos
                      </a>
                    </li>
                    <li>
                      <a href="http://35photo.ru/new/journal/">
                        Journal
                      </a>
                    </li>
                  </ul>
                </div>
              </span>
              
              <span class="mainMenu">
                <a href="http://35photo.ru/new/actual/">
                  Topical
                </a>
              </span>
              
              <span class="mainMenu">
                <a href="http://35photo.ru/rating/best_photo_rating/">
                  Ratings
                </a>
                
                <img src="http://35photo.ru/files/downArrow.gif">
                <div class="sub">
                  <ul>
                    <li>
                      <a href="http://35photo.ru/rating/best_photo_rating/">
                        Основной
                      </a>
                    </li>
                    <li>
                      <a href="http://35photo.ru/rating/">
                        Авторы
                      </a>
                    </li>
                    <li>
                      <a href="http://35photo.ru/rating/photo_day/">
                        Фото дня
                      </a>
                    </li>
                    <li>
                      <a href="http://35photo.ru/rating/best_photo_see/">
                        Просмотры
                      </a>
                    </li>
                  </ul>
                </div>
              </span>
              
              <span class="mainMenu">
                <a href="http://35photo.ru/items/">
                  Equipment
                </a>
              </span>
              
            </div>
          </div>
  
    
      </div>
    </div>

    
    
    </td><td class="text" style="clear:both;padding:14px 20px 0px 20px">
      <div style="float:right;width:240px;margin-right:20px">
        <div align="right">
          <div style="font-size:18px;margin-right:20px">
            <a href="/refinery/login">
              Login
            </a>
            
            <span style="font-size:14px">
              or
            </span>
            
            <a href="/refinery/users/register">
              Sign up
            </a>
          </div>
        </div>
      </div>
      </td></tr>





