<div style="margin-top:10px;font-size:12px">
  <div class="menuBlock">
    <span class="mainMenu">
      <a href="http://35photo.ru/genre/">
        Styles
      </a>
    </span>
    
    <span class="mainMenu">
      <a href="http://35photo.ru/community/">
        Communities
      </a>
    </span>
    
    <span class="mainMenu">
      <a href="http://35photo.ru/new/interesting/">
        New photos
      </a>
      
      <img src="http://35photo.ru/files/downArrow.gif">
      <div class="sub">
        <ul>
          <li>
            <a href="http://35photo.ru/new/interesting/">
              New interesting
            </a>
          </li>
          <li>
            <a href="http://35photo.ru/new/">
              New photos
            </a>
          </li>
          <li>
            <a href="http://35photo.ru/new/journal/">
              Journal
            </a>
          </li>
        </ul>
      </div>
    </span>
    
    <span class="mainMenu">
      <a href="http://35photo.ru/new/actual/">
        Topical
      </a>
    </span>
    
    <span class="mainMenu">
      <a href="http://35photo.ru/rating/best_photo_rating/">
        Ratings
      </a>
      
      <img src="http://35photo.ru/files/downArrow.gif">
      <div class="sub">
        <ul>
          <li>
            <a href="http://35photo.ru/rating/best_photo_rating/">
              Основной
            </a>
          </li>
          <li>
            <a href="http://35photo.ru/rating/">
              Авторы
            </a>
          </li>
          <li>
            <a href="http://35photo.ru/rating/photo_day/">
              Фото дня
            </a>
          </li>
          <li>
            <a href="http://35photo.ru/rating/best_photo_see/">
              Просмотры
            </a>
          </li>
        </ul>
      </div>
    </span>
    
    <span class="mainMenu">
      <a href="http://35photo.ru/items/">
        Equipment
      </a>
    </span>
    
  </div>
</div>